
/* ==========================================================================
   パンくず
========================================================================== */
.breadcrumb{
	width: 100%;
	height: 56px;
	padding: 0 80px 0;
	background: #fff;
	border-top: 1px solid $accent_gray;
	position: relative;
	z-index: 9999;
	@include sp(){
		height: 42px;
		padding: 0 0 0 8%;
	}
	ul{
		@include flexbox(nowrap,flex-start,center);
		font-size: .7rem;
		font-weight: bold;
		color: $accent_red;
		max-width: $max_width;
    margin: 0 auto;
		@include sp(){
			overflow-x: auto;
			overflow-y: hidden;
			font-size: .8rem;
			max-width: none;
		}
		li{
			padding-right: 20px;
			line-height: 0;
			@include flexbox(nowrap,center,center);
			@include sp(){
				padding-right: 10px;
				height: 42px;
				-webkit-overflow-scrolling: touch;
			}
			a{
				color: $accent_black;
				width: max-content;
				transition: all 0.3s $cubic;
				-webkit-transition: all 0.3s $cubic;
				&:hover{
					color: $accent_red;
				}
			}
			span{
				width: max-content;
			}
			&::after{
				content: url(/corporate/assets/images/common/breadcrumb_arrow.png);
				vertical-align: middle;
				padding-left: 20px;
				@include sp(){
					content: url(/corporate/assets/images/common/breadcrumb_arrow_sp.png);
					padding-left: 10px;
				}
			}
			&:last-child::after{
				opacity: 0;
			}
		}
	}
}
