.infomation{
	display: flex !important;
	background: $accent_black;
	font-size: .7rem !important;
	font-weight: bold;
	width: 100%;
	padding: 20px 15px;
	line-height: 1;
	// z-index: 9999;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
	@include flexbox(nowrap,flex-start,center);
	@include sp(){
	 line-height: 1.5;
	 padding: 10px;
 }
	&__title{
		color: $accent_red;
		border-right: solid 1px #252525;
		padding-right: 20px;
		@include sp(){
		 padding-right: 10px;
	 }
	}
	&__txt{
		padding-left: 20px;
		@include flexbox(nowrap,flex-start,baseline);
		@include sp(){
		 display: block;
		 padding-left: 10px;
	 }
		span{
			color: $accent_red !important;
			font-family: $fontENG;
			line-height: 0;
			@include sp(){
			 display: block;
			 line-height: 1.5;
		 }
		}
		a{
			color: #fff;
			padding-left: 20px;
			transition:all .3s $cubic;
			-webkit-transition: all .3s $cubic;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			display: block;
			width: 980px;
			&:hover{
				color: $accent_red !important;
			}
			@include sp(){
			 padding-left: 0;
			 width: 31em;
		 }
		}
	}
}

//画像
.declaration{
	display: block !important;
	width: 100vw;
	height: 100vh;
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99991 !important;
	visibility: hidden;
	opacity: 0;
	background: #fff;
	overflow-y: scroll;
	img{
		width: 100%;
		margin: 0 auto 80px;
		@include sp(){
		 margin-bottom:60px;
	 }
	}
	.open-declaration &{
		visibility: visible;
    opacity: 1;
		display: block !important;
	}
	.declaration-close{
		position: absolute;
		display: block;
		top: 50px;
		left: 50px;
		background: url(/assets/images/common/icon-close.svg) no-repeat center center;
    width: 32px;
    height: 28px;
    background-size: cover;
		@include sp(){
			top: 20px;
  		left: 20px;
			width: 24px;
	    height: 22px;
	 }
	}
	.contentbox{
		max-width: $box_width;
		margin: 0 auto 80px;
		@include sp(){
		 margin-bottom:60px;
		 padding: 0 8%;
	 }
	}
	h2{
		margin-bottom: 80px;
		@include sp(){
		 margin-bottom:60px;
	 }
	}
}


//トップページのみの処理
.top header {
	.container{
		padding-top: 54px;
	}
	//padding-top: 50px;
		.nav {
			//padding: 130px 80px 80px;
			top:54px;
			@include sp(){
				//padding: 80px 8% 30px;
			}
			&.is-animation{
				//padding: 40px 80px ;
				top:0;
				@include sp(){
					//padding: 30px 8%;
				}
			}
	}
}


body.open-declaration{
	height: 100vh;
  overflow-y: hidden;
  padding-right: 15px; /* 幅のリフローを避ける */
}
