@charset "UTF-8";

.table{
	width: 100%;
	font-size: 0.7rem;
	&--01{
		@extend .table;
		border-top: 1px solid $accent_gray;
		thead{
			background: #fff;
		}
			tr{
				border-left: 1px solid $accent_gray;
				border-bottom: 1px solid $accent_gray;
				th{
					padding: 15px 20px;
					text-align: center;
					border-right: 1px solid $accent_gray;
					vertical-align: middle;
					font-weight: bold;
					@include sp(){
						padding: 15px;
						font-size: .85rem;
					}
				}
				td{
					padding: 15px 20px;
					text-align: left;
					border-right: 1px solid $accent_gray;
					vertical-align: middle;
					@include sp(){
						padding: 15px;
						font-size: .85rem;
					}
				}
			}
		.clubmember &{
			td:first-child{
				width: 30%;
				@include sp(){
					width: 20%;
				}
			}
		}
		&.alternate{//交互にBGグレー
			tbody{
				tr{
					&:nth-child(even){
						background: $accent_ltgray;
					}
				}
			}
		}
	}
}

.scroll_table{
	@include sp(){
		display: block;
		overflow-x: scroll;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	}
	&.both{//pcにも適用
		display: block;
		overflow-x:auto;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		box-sizing: initial;
		.j1 &{
			width: $box_width;
			height: calc((1rem + 42px) * 33);
			@include sp(){
				width: 100%;
				height: calc((1.6rem + 32px) * 33);
			}
		}
		table{
			th{
				&:first-child{
					width: 100px;
					@include sp(){
						width: 80px;
					}
				}
			}
		}
	}
}
